.container{
    background-color: black;
}
#end {
 
  /* */
  position: absolute;

  /* visibility: visible; */
  background-color: red;
    padding: 20px 50px 20px 50px;
/* font-family: inherit;
font-size: inherit; */
}
/* #end button {
    
  } */
.block{

    display: flex;
    align-items: center;
    justify-content: center;
}